{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogarchivespage{% endblock %}

{% block content %}
<div class="blog-content">
  <h1 class="title has-text-weight-light has-text-light has-text-antics-orange">{{ page.title }}</h1>
  <div class="intro">{{ page.intro|richtext }}</div>
  {% for blogpage in blogpages %}
  {% with blogpage=blogpage.specific %}
    <div class="has-background-grey-darker list-tile text-padding">
      <p class="title has-text-weight-light"><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></p>
      <p><small><i>{{ blogpage.date }}</i> - {{ blogpage.author }}</small></p>
      <p>{{ blogpage.intro }}</p>
    </div>
  {% endwith %}
  {% endfor %}
  <div class="field is-grouped pagination-control">
  {% for page_num in blogpages.paginator.page_range %}
    <p {% if page_num == blogpages.number %} class="paginator-active"{% endif %}>
      <a href="?page={{ page_num }}" class="button">
        {{ page_num }}
      </a>
    </p>
  {% endfor %}
  </div>
  <br>
  <a href="/blog" class="button-link">Back to recent</a>
</div>
{% endblock %}
