{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="event-post-content has-background-black-ter">
    <section class="hero">
      <div class="hero-body has-background-antics-orange">
        <h1 class="title has-text-light has-text-weight-light">{{ page.title }}</h1>
        <div class="intro subtitle has-text-white has-text-weight-light">
          <br>
          {{ page.intro|striptags|safe }}
        </div>
      </div>
    </section>
    {% image page.representative_image width-1000 %}

    <div class="text-padding">
      <p> <a href="{{ page.location_link }}">{{ page.gig_location }}</a> | {{ page.gig_date }} at {{ page.gig_time }} | £{{ page.price }}</p>
      <p>{{ page.intro }}</p>
      <br>
      {% if page.ticket_link != "https://www.uptheantics.co.uk" %}
      <a class="button-link" href="{{ page.ticket_link }}" target="blank">Book Now</a>
      {% endif %}
      <br><br>
      {{ page.body|richtext }}
      <p class="apres-post-buttons">
        <a href="{{ page.get_parent.url }}" class="button-link">Return to Events</a>
      </p>
    </div>
</div>
{% endblock %}
