<footer class="footer has-background-black">
  <div class="content has-text-centered columns is-8">

    <div class="column">
      <h2 class="has-text-weight-light has-text-grey">Contact</h2>
      <p>Drop us an email at<br><a class="email-hide" href="mailto:aaaaaaaaaaaa">info@info.com</a></p>
    </div>

    <div class="column">
      <h2 class="has-text-weight-light has-text-grey">Our Friends</h2>
      <p><a href="http://wilbee.co.uk/">Wilbee Films</a></p>
    </div>

    <div class="column">
      <p>Website built by <a href="http://mikebuildswebsites.com/">Mike Hayward</a> </p>
      <p>Visual design and branding by <br> <a href="#">Oscar Stretton</a> <br> <a href="#">Will Offer</a></p>
    </div>
  </div>
  <div class="footer-social-container">
      <a class="footer-social-icon" href="https://www.facebook.com/UpAntics/?fref=ts"><i class="fab fa-facebook"></i></a>
      <a class="footer-social-icon" href="https://twitter.com/Up_TheAntics?lang=en"><i class="fab fa-twitter"></i></a>
      <a class="footer-social-icon" href="https://www.youtube.com/channel/UCcUx5R1nJfnEuYbyY0cheOA"><i class="fab fa-youtube"></i></a>
      <a class="footer-social-icon" href="https://www.instagram.com/uptheantics/"><i class="fab fa-instagram"></i></a>
      <a class="footer-social-icon" href="https://soundcloud.com/uptheantics"><i class="fab fa-soundcloud"></i></a>
  </div>
</footer>
